* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111010;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  background-color: #1d1c1c;
  height: 5rem;
}

.logo-movie {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.img-logo {
  height: 4rem;
  width: 4rem;
}

li {
  list-style: none;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1.5rem;
  padding: 2rem 5rem;
}
.likeBtn {
  width: 24px;
  height: 24px;
}

.footer {
  height: 3rem;
  background-color: #1d1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}