* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111010;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  background-color: #1d1c1c;
  height: 5rem;
}

.logo-movie {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.img-logo {
  height: 4rem;
  width: 4rem;
}

li {
  list-style: none;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1.5rem;
  padding: 2rem 5rem;
}

.likeBtn {
  width: 24px;
  height: 24px;
}

.popup {
  background-color: #1d1c1c;
  padding: 3rem;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.popup-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-cancelbtn {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.id-image {
  width: 90%;
  height: 50vh;
}

.cancel-img {
  width: 40px;
  height: 40px; 
  background-color: rgb(231, 54, 54);
}

.sub-details {
  display: flex;
  justify-content: space-between;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-start;
}

.footer {
  height: 3rem;
  background-color: #1d1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}
